
body {
	background: #f9cfd4;
	color: #000000;
	font-family: Trebuchet MS, Arial, Times New Roman;
	font-size: 12px;
}

#wrapper {
	background: #f9cfd4;
	margin: 60px auto;
	width: 900px;
	height: 1024px;
}

#header{
    background: #F8CEB8;
	height: 180px;
	width: 895px;
	color:White;
	text-shadow: 2px 2px 5px #e76778;
	border-style: dotted;
	text-align: center;
	font-size: 70px;
	font-weight: bold;
	font-variant: small-caps;
	font-family: Impact, Charcoal, sans-serif;
    line-height: 180px;
}
#home {
    background-color: #e76778;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 20%;
}
#about{
    background-color: #e76778;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 20%;
}
#acrylic{
    background-color: #e76778;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 20%;
}
#colorpencil{
    background-color: #e76778;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 20%;
}
    

/* Change background color of buttons on hover */
.tablink:hover {
    background-color: #F8BEB8;
}

/* Set default styles for tab content */
.tabcontent {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
}

#content {
	background: #eeeed6;	
	width: 900px;
	height: 624px;
}

#footer {
	background: #F8CEB8;
	height: 60px;
	width: 900px;
}